<!DOCTYPE html>
<html lang='en'>
<head>
  <title></title>
</head>
<body>

<% if (!user){ %>
  <a href="/login"><button style="background: none; border: 1px solid grey; border-radius: 100px;">Log in</button></a>
  <a href="/register"><button style="background: none; border: 1px solid grey; border-radius: 100px;">Register</button></a>
<% } else {%>
  <p style="display: inline;">You logged in as<%= user.email %></p>
  <form action="/logout" method="POST" style="display: inline;">
    <button type="submit" style="background: none; border: 1px solid grey; border-radius: 100px;">Log out</button>
  </form>
<% } %>






