<% include partials/_header.ejs%>

<h3>Please log in to use all the services</h3>


<form action="/login" method="POST">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" style="width: 30%; background: none; border: 1px solid grey; border-radius: 100px; padding-left: 10px;">
  <label for="password">Password: </label>
  <input type="password" name="password" style="width: 30%; background: none; border: 1px solid grey; border-radius: 100px; padding-left: 10px;">
  <button style="background: none; border: 1px solid grey; border-radius: 100px;">Log In</button>
</form>



</body>
</html>