<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>

<% if (!validRegistrationStatus) {%>
  <h3>Please fill up email and password.</h3>
<% } else if (registerHistoryStatus){ %>
  <h3>Your email has been registered.</h3>
<%}%>


<form action="/register" method="POST">
  <label for="email">Enter email: </label>
  <input type="email" name="email" id="email" style="width: 30%; background: none; border: 1px solid grey; border-radius: 100px; padding-left: 10px;">
  <label for="password">Enter password: </label>
  <input type="password" name="password" id="password" style="width: 30%; background: none; border: 1px solid grey; border-radius: 100px; padding-left: 10px;">
  <button style="background: none; border: 1px solid grey; border-radius: 100px;">Register</button>
</form>



</body>
</html>