<% include partials/_header.ejs%>
<body>
  <ul>
    <% for (let key in urls) { %>
    <li>
      <%= key %> - <%= urls[key] %>
      <form action="/urls/<%= key %>/delete" method="POST">
        <button>Delete</button>
      </form>
    </li>
    <% } %>

  </ul>

<a href="">Click to shorten a url</a>

</body>
</html>
